DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/seera_db
# untuk hosted/online DB, gunakan host publik + sslmode, contoh:
# DATABASE_URL=postgresql+psycopg2://postgres:postgres@db.your-domain.com:5432/seera_db?sslmode=require
